.wrapper {
  gap: 6px;
  .label {
    color: var(--gray-500);
    font-size: var(--size-14);
  }

  .inner-wrapper {
    border-radius: var(--size-8);
    border: 1px solid var(--gray-700);
    background-color: var(--light-500);
    padding: 12px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    position: relative;

    &.--error {
      border-color: var(--error-alert);
      &:focus-within {
        box-shadow: unset;
      }
    }
    &:not(.--error):focus-within {
      outline: 1px solid var(--primary-color);
      box-shadow: 0 0 0 1px var(--primary-color-500);
    }
    &:not(.--error):hover {
      border-color: var(--primary-color-400);
    }
  }

  input {
    font-size: var(--size-16);
    color: var(--black-400);
    outline: none;
    border: none;
    width: 100%;
    caret-color: var(--primary-color);
    padding-right: 20px;
    background-color: transparent;
  }
  .error {
    position: relative;
    margin-left: 20px;
    font-size: var(--size-14);
    color: var(--error-alert);
  }
}
