<div class="container">
  <div class="container-header flex items-center justify-between">
    <h1 class="m-0">Posts</h1>
    <div class="create">
      <button mat-button (click)="handleCreatePost()">Crear Post</button>
    </div>
  </div>
  <section class="container-data flex flex-col">
    <ng-container
      [ngTemplateOutlet]="loading() ? loadingTemplate : tabledataTemplate"
    />
  </section>
</div>

<ng-template #tabledataTemplate>
  <app-data-table [data]="postsList()" [rows]="ITEMS_PER_PAGE">
    <ng-template #headerTemplate>
      <tr>
        <th>Título</th>
        <th>Contenido</th>
        <th>Creado por</th>
        <th>Opciones</th>
      </tr>
    </ng-template>

    <ng-template #bodyTemplate let-item>
      <td>{{ item.title }}</td>
      <td>{{ item.body }}</td>
      <td>Usuario {{ item.userId }}</td>
      <td class="flex">
        <button mat-icon-button (click)="handleEditPost(item)">
          <mat-icon svgIcon="edit" />
        </button>
      </td>
    </ng-template>
  </app-data-table>
  <div class="container-paginator">
    <app-paginator
      [(ngModel)]="currentPage"
      [totalItems]="totalPosts().length"
      [rows]="ITEMS_PER_PAGE"
      (ngModelChange)="onPageChange($event)"
    ></app-paginator>
  </div>
</ng-template>
<ng-template #loadingTemplate>
  <p>Cargando...</p>
</ng-template>
