@import "./primeng-styles";

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

$font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
);

@mixin font-weights {
  @each $val, $size in $font-weights {
    .fw-#{$val} {
      font-weight: $size;
    }
  }
}

:root {
  @include font-weights;
}
