:root {
  --primary-color: #0022ad;

  --primary-color-50: #e5f3ff;
  --primary-color-100: #cfe9ff;
  --primary-color-200: #a9d4ff;
  --primary-color-300: #75b4ff;
  --primary-color-400: #5a81fa;
  --primary-color-500: #2a47fb;
  --primary-color-600: #003aff;
  --primary-color-700: #003bff;
  --primary-color-800: #0035e3;
  --primary-color-900: #0022ad;
  --primary-color-950: #001166;

  --secondary-color: #f9c51a;

  --secondary-color-50: #fefbe8;
  --secondary-color-100: #fef7c3;
  --secondary-color-200: #fdec8b;
  --secondary-color-300: #fcd948;
  --secondary-color-400: #f9c51a;
  --secondary-color-500: #e9ab09;
  --secondary-color-600: #c98405;
  --secondary-color-700: #a05d08;
  --secondary-color-800: #84490f;
  --secondary-color-900: #713c12;
  --secondary-color-950: #421e06;

  --gray-700: #d3d7e5;
  --gray-600: #f5f7fa;
  --gray-500: #696c80;
  --gray-400: #f1f4f8;
  --gray-701: #ccd1e3;
  --gray-702: #ccd1ef;
  --white: #fffffe;

  --black-500: #03050f;
  --black-400: #252525;
  --black-300: #2f2f2f;
}
