:root {
  --primary-color: #0022ad;

  --primary-color-50: #e5f3ff;
  --primary-color-100: #cfe9ff;
  --primary-color-200: #a9d4ff;
  --primary-color-300: #75b4ff;
  --primary-color-400: #5a81fa;
  --primary-color-500: #2a47fb;
  --primary-color-600: #003aff;
  --primary-color-700: #003bff;
  --primary-color-800: #0035e3;
  --primary-color-900: #0022ad;
  --primary-color-950: #001166;

  --secondary-color: #f9c51a;

  --secondary-color-50: #fefbe8;
  --secondary-color-100: #fef7c3;
  --secondary-color-200: #fdec8b;
  --secondary-color-300: #fcd948;
  --secondary-color-400: #f9c51a;
  --secondary-color-500: #e9ab09;
  --secondary-color-600: #c98405;
  --secondary-color-700: #a05d08;
  --secondary-color-800: #84490f;
  --secondary-color-900: #713c12;
  --secondary-color-950: #421e06;

  --gray-600: #f5f7fa;
  --gray-500: #696c80;
  --gray-400: #f1f4f8;
  --gray-700: #d3d7e5;
  --gray-701: #ccd1e3;
  --gray-702: #ccd1ef;
  --gray-blue: #bccdff;
  --light-500: #fbfbff;
  --light-400: #fefefe;

  --black-500: #03050f;
  --black-400: #252525;
  --black-300: #2f2f2f;

  --warning-alert-100: #ffefb5;
  --warning-alert-500: #ffd027;
  --warning-alert-700: #c39800;

  --error-alert-100: #feb7b7;
  --error-alert-500: #ee0000;
  --error-alert-700: #b40000;

  --info-alert-100: #7aa8fe;
  --info-alert-500: #267aff;
  --info-alert-700: #1d4da1;

  --success-alert-100: #c4f0cd;
  --success-alert-500: #4bc27e;
  --success-alert-700: #228250;

  --size-3: 3px;
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-22: 22px;
  --size-24: 24px;
  --size-28: 28px;
  --size-30: 30px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-48: 48px;
  --size-64: 64px;
}
