.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  .card {
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    padding: 20px;
    width: 100%;
    &-postname {
      font-size: 0.85rem;
      font-weight: 600;
    }

    &-box {
      gap: 1rem;
    }

    &-button {
      margin-top: 8px;
      padding: 18px 32px;
      border-radius: 8px;
      border: 1px solid var(--primary-color-400);
      width: 100%;
      background-color: var(--primary-color);
      color: var(--white);
    }

    &-details {
      gap: 1rem;
    }

    &-postbody {
      font-size: 14px;
    }
  }
}
